.album-form-photo-select {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: .5em;
    flex-wrap: wrap;
}

.photos-to-be-selected-album-form {
    height: 50px;
}

.background-for-album-form {
    background-image: url('../../assets/misc/FlickrSignUpFormBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 150vh;

}

.upload-here-link {
    text-decoration: none;
    color: rgb(0, 130, 199);
}

.upload-here-link:hover {
    color: rgb(0, 149, 190);
}
