.developers-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4em;
    gap: .5em;
    background-color: rgba(134, 159, 184, 0.603);
    height: 91.65vh;

}

.picture-of-me-about {
    width: 500px;
    height: 400px;
}

.bio-about-me {
    text-align: justify;
    width: 39.5em;
}
