.whole-nav-bar {
    background-color: rgba(32, 32, 35, 0.774);
    position: fixed;
    width: 100%;
    height: 4em;

    box-sizing: border-box;


}

.links-on-nav-bar {
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

.logo-navbar {
    box-sizing: border-box;
    height: 3em;
    width: 5em;
    margin-top: .5em;
}

.navbar-left-side {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}


.navbar-main-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;

}

.navbar-right-side {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    margin-right: 1em;
    width: 25em;
    box-sizing: border-box;
    justify-content: space-around;
}

.site-name-navbar {
    font-size: 1.5em;
    font-weight: bold;


}

.container-for-name {
    padding-top: 1em;
}

.container-for-right-navbar-links {
    display: flex;
    flex-direction: row;
    padding-left: 1em;

}

.sign-up-navbar-text {
    background-color: white;
    border-radius: .25em;
    color: black;
    padding-top: .3em;
    padding-bottom: .3em;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: bold;


}

.sign-up-navbar-text:hover {
    color: gray;
}

.link-for-signup {
    color: white;
    text-decoration: none;

}

.logout-button-navbar {
    /* padding-left: 5em; */
    padding-top: .25em;
}

.upload-icon-navbar {
    font-size: 1.75em;
    margin-left: 4em;
    padding-top: .1em;
    box-sizing: border-box;
    /* border: .1em solid black; */
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    /* margin-left: 2em; */
    /* border: .2em solid black; */


}

.ProfileButton {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    margin-bottom: 10em;

}


.profile-button-div {
    display: flex;
    flex-direction: column;


}

.profileButton {
    width: 3em;

}



.div-for-profile-button-and-upload {
    display: flex;
    flex-direction: row;
    /* background-color: aqua; */
    width: 30%;
    gap: 2.5em;
}

.nav-bar-profile-picture {

    width: 25%;
    border-radius: 50%;
    margin-right: 10em;
}
