.all-images-explore-page {
    display: flex;
    flex-direction: row;
    padding-left: 8em;
    padding-right: 5em;
    flex-wrap: wrap;
    height: 50%;
    gap: 1em;
}

.images-on-display {
    width: 21em;
    padding: .5em;
    padding-bottom: 1em;

}

.whole-explore-page-container {
    display: flex;
    flex-direction: column;
    gap: 4em;
    /* background-color: rgb(243, 245, 246); */

    padding-top: 4em;
}

.mid-navbar-explore-page {
    padding-left: 5em;
    display: flex;
    flex-direction: row;
    gap: 5em;
    font-size: large;

    background-color: white;
}

.fix-position-container-mid-navbar {
    display: fixed;
}

.background-for-explore-page {
    background-color: rgb(243, 245, 246);

    /* height: 100%; */
}
