.edit-comment-textarea {
    resize: none;
    width: 39em;
    padding: 1em;
    border-color: rgb(207, 214, 217);
}

.comment-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.comment-edit-and-delete-div {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.edit-comment-button {
    cursor: pointer;
    padding-left: .25em;
    padding-right: .25em;
}

.edit-comment-button:hover {
    box-shadow: 0px 0px 1px black;
}

.comment-body-div {
    overflow-wrap: break-word;
    width: 34em;
}


.submit-button-edit-comment {}
